@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-primary-hover: #ea580c;
  --color-secondary: #3b82f6;
  --color-ring: #f97316;

  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
